@font-face {
  font-family: 'Laforgestencil';
  src: url('/fonts/Laforge_Stencil/LaforgeStencil-Regular.otf') format('otf'),
    url('/fonts/Laforge_Stencil/LaforgeStencil-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000000
}